In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re
import src.cleaning as cl

In [2]:
sharknado = pd.read_csv('data/attacks.csv',encoding="ISO-8859â1")
sharknado

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
sharknado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [4]:
sharknado.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [5]:
#Miramos y seleccionamos que variables(columnas) queremos tener
sharknados = sharknado[["Case Number", "Date", "Year","Type", "Country", "Area", "Activity", "Sex ", "Age", "Injury", "Fatal (Y/N)", "Species "]]
sharknados

,Case Number,Date,Year,Type,Country,Area,Activity,Sex,Age,Injury,Fatal (Y/N),Species
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,11,Minor injury to left thigh,N,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Modificamos los nombres de las variables para que podamos trabajar con facilidad
df = sharknados.copy()
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Activity',
       'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Species '],
      dtype='object')

In [7]:
renombre= [a.replace(" ", "_").lower() for a in df.columns]
renombre

['case_number',
 'date',
 'year',
 'type',
 'country',
 'area',
 'activity',
 'sex_',
 'age',
 'injury',
 'fatal_(y/n)',
 'species_']

In [8]:
df.columns= renombre
df

,case_number,date,year,type,country,area,activity,sex_,age,injury,fatal_(y/n),species_
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,11,Minor injury to left thigh,N,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.rename(columns={'case_number': 'case', 'sex_': 'sex', "fatal_(y/n)": "dead", "species_": "especie" }, inplace=True)
df

,case,date,year,type,country,area,activity,sex,age,injury,dead,especie
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,11,Minor injury to left thigh,N,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
str(df['age'][3]).lower()

'nan'

In [11]:
df["resolucion"]= df.injury.apply(cl.resolucion)
df

,case,date,year,type,country,area,activity,sex,age,injury,dead,especie,resolucion
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,no injury
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,11,Minor injury to left thigh,N,NaN,bite
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN,bite
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark,bite
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",bite
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#miramos tamaÃ±o para hacer dos tablas con las que trabajaremos, con nan y sin nan
df.shape

(25723, 13)

In [14]:
df["genre"]= df.sex.apply(cl.sexo)
df

,case,date,year,type,country,area,activity,sex,age,injury,dead,especie,resolucion,genre
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,no injury,f
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,11,Minor injury to left thigh,N,NaN,bite,f
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN,bite,m
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark,bite,m
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",bite,m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.to_csv('sharky.csv', index = False)
#exportamos como csv

In [16]:
df.shape

(25723, 14)

In [17]:
sinan= df.dropna(how="all", axis=0)
#quitamos las filas en donde todo es nan

In [18]:
sinan

,case,date,year,type,country,area,activity,sex,age,injury,dead,especie,resolucion,genre
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,no injury,f
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,11,Minor injury to left thigh,N,NaN,bite,f
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN,bite,m
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark,bite,m
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",bite,m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
sinan.genre.value_counts()

m    5096
f     637
Name: genre, dtype: int64

In [20]:
sinan.dead.value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: dead, dtype: int64

In [21]:
sinan["deaths"]= df.dead.apply(cl.deaths)
sinan

<ipython-input-21-3bc93d8f2eb4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinan["deaths"]= df.dead.apply(cl.deaths)

,case,date,year,type,country,area,activity,sex,age,injury,dead,especie,resolucion,genre,deaths
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,no injury,f,0.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,11,Minor injury to left thigh,N,NaN,bite,f,0.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN,bite,m,0.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark,bite,m,0.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",bite,m,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
sinan.deaths.value_counts()

0.0    4373
1.0    1390
Name: deaths, dtype: int64

In [23]:
sinan.especie.value_counts()

White shark                                                                                                                      163
Shark involvement prior to death was not confirmed                                                                               105
Invalid                                                                                                                          102
Shark involvement not confirmed                                                                                                   88
Tiger shark                                                                                                                       73
                                                                                                                                ...
1.2 m to 1.5 m [4.5' to 5'] shark                                                                                                  1
Bull shark, 2.3 m [7.5']                                                                                                           1
0.9 m  [3'] shark                                                                                                                  1
Mako shark, 14'                                                                                                                    1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: especie, Length: 1549, dtype: int64

In [24]:
tibus=list(sinan.especie.unique())
tibus
#asÃ­ analizo cuales son los mas habituales para la siguiente funcion

['White shark',
 nan,
 '2 m shark',
 'Tiger shark, 3m',
 'Tiger shark',
 "Lemon shark, 3'",
 "Bull shark, 6'",
 'Grey reef shark',
 'Invalid incident',
 'Tawny nurse shark, 2m',
 'Shark involvement not confirmed',
 'Questionable',
 '3 m shark',
 'White shark, 3.5 m',
 'White shark, 2.5 m',
 "6' shark",
 'Juvenile bull shark',
 'Bull shark',
 "Tiger shark, 12'",
 'Wobbegong shark',
 '3.5 m shark',
 '1.8 m shark',
 'Blacktip shark',
 'Juvenile white shark,  2.7 to 3.2 m',
 'Bull shark, 2 m',
 'Possibly a wobbegong',
 'Injury believed caused by an eel, not a shark',
 'Galapagos shark?',
 '2m shark',
 'Bull shark, 3 m ',
 'Grey reef shark. 2 m',
 'small shark',
 'Wobbegong shark?',
 'Juvenile nurse shark',
 "Nurse shark. 5'",
 'Tiger shark, female',
 'Some drowned but other may have been killed by blue sharks',
 'White shark, 4.6 m',
 'Cookiecutter shark',
 'Wobbegong shark, 1 m',
 'White shark, 4.5 m',
 'Spinner shark, 4 to 5 feet',
 'Tiger shark, 8 to 10 feet',
 "8' shark",
 'Death may have been due to drowning',
 "5' shark",
 "4' to 5' shark",
 'Porbeagle, 1.5 m',
 'White shark, 3.5m',
 "5' to 6' shark",
 'White shark, 3 to 3.5m ',
 'Nurse shark',
 'White shark, 3 m',
 'Shark involvement questionable',
 "White shark, 5' to 7'",
 'Possibly a juvenile blacktip shark',
 'Oceanic whitetip shark, 1.8 to 2 m',
 "4' shark",
 "White shark, 10'",
 'A small shark',
 "Sandtiger shark  2'",
 "Blue shark 6'",
 '"A small shark"',
 "White shark, 11' to 13'",
 "White shark, 8' to 10'",
 "White shark, 9'",
 "Bull shark, 4' to 5'",
 'Tiger shark, 100 kg',
 'Shark involvement prior to death not confirmed',
 'No shark invovlement ',
 'Bull shark, 2m',
 'White shark, 4 m',
 'Seven-gill shark',
 '3m shark, probably a smooth hound',
 "3' shark",
 "9' shark",
 'Shark involvement highly doubtful',
 'No shark invovlement - it ws a publicity stunt',
 "Bull shark, 5' to 7'",
 "10' shark",
 'Lemon shark',
 'Bull shark, 1.5',
 'Lemon shark pup',
 "White shark, female, 14'",
 'Caribbean reef shark',
 'Bull shark, 4 m',
 'Bull shark, 1 m',
 'a small shark',
 'Wobbegong shark, 2m',
 'Broadnose sevengill shark, 1.5 m',
 " 6' to 8' shark",
 "3' to 4' shark",
 "Tiger shark, 10'",
 'Invalid',
 'Bull shark, 3.5 m',
 "Tiger shark, 10' ",
 'Blue shark',
 "Nurse shark, 4'",
 'reef shark, 1m',
 "White shark, 10' to 12'",
 "Lemon shark, 9'",
 'Angel shark',
 'dogfish shark',
 'Tawny nurse shark',
 "Caribbean reef shark, 4.5'",
 "3' to 5' shark",
 "Said to involve an 8' shark but more likely damage caused by debris",
 '3+ m shark',
 'Mako shark',
 'Bronze whaler sharks x 3',
 "Blacktip shark, 4'",
 "Nurse shark, 2'",
 "Mako shark, 1.5 m [5'] ",
 'Grey reef shark, 2 m',
 "Bull shark, 7'",
 'Tiger shark, 2.5 m',
 'Nurse shark, 2.5-ft',
 'Bronze whaler',
 'Sandtiger shark',
 'No shark involvement',
 "Reef shark, 5'",
 'Bull sharks x 2',
 "Tiger shark, 14'",
 "Silky shark, 6.5'",
 "Bronze whaler shark, 6'",
 'Tiger shark, 1.5 m ',
 'Galapagos shark',
 "Spinner shark, 7'",
 'Bull shark, 2.8 to 3.1 m',
 "Spinner shark, 5'",
 "Tiger shark, 7'",
 'Hammerhead sp.',
 "Tiger shark, 13' ",
 "Blacktip shark, 4' to 5'",
 "Blacktip shark, 5' to 6'",
 "White shark, 19'",
 'juvenile shark',
 "Tiger shark, 13'",
 'Hammerhead shark',
 "White shark, 11' to 12'",
 'Hammerhead shark.',
 "4' shark?",
 "White shark, 10' to 12' ",
 "White shark, 13'",
 "Hammerhead shark. 6' to 7'",
 "Blacktip or spinner shark, 4'",
 "Thought to involve a 3' to 4' shark, but shark involvement not confirmed",
 'White shark, 3.9 to 4.2 m',
 'Mako shark, 100-lb',
 'Bronze whaler shark, 1.5m',
 "White shark, 7'",
 'Shark involvement not cofirmed',
 "6' to 7' shark",
 'White shark, 2m to 3 m',
 "Bull shark, 5'",
 'small nurse shark',
 'Bull shark, 2.5 m',
 '1m to 1.2 m shark',
 '3- to 4-foot shark',
 'White shark, 6 m',
 'Blue shark, 8 to 9 feet',
 'Tiger shark, 8 to 12 feet',
 'Blacktip Reef shark ',
 'Tiger shark, 3.5 m',
 '3.5 to 4 m shark',
 '2 m to  3 m shark',
 'Bull shark, 1.3 m',
 '5 m shark',
 '1.5 m shark',
 'White shark or oceanic whitetip shark',
 'Raggedtooth shark, 1.3 m',
 'White shark, 4 to 5 m',
 'Shark involvement prior to death still to be determined',
 'Shark involvement not confirmed & highly unlikely',
 'Goblin shark',
 "2' shark",
 "12' to 14' shark",
 '1 m shark',
 "Bull shark, 3' to 4'",
 "White shark, 18' to 20'",
 "8' to 10' shark",
 '2 white shark: 13\' & 9"8"',
 "7' shark",
 "White shark, 12' to 14'",
 'Spinner shark',
 'Spinner shark or blacktip shark',
 "4' to 6' shark",
 "Bull shark, 4.5' ",
 'reef shark',
 " Bull shark, 8'",
 "Bull shark, 9' to 10'",
 " Bull shark, 5'",
 "4' tp 5' shark",
 'Possibly juvenile tiger shark',
 '1.8 metre shark',
 "6' to 8' shark",
 " White shark, 7' ",
 "Oceanic whitetip shark'",
 "Caribbean reef shark, 7' to 8'",
 ' Lemon shark, 3.5 m',
 " Sandbar shark, 3' to 4'",
 ' Bull shark, 1.2m ',
 '3m shark',
 ' Tawney nurse shark, 1m',
 " white shark, 15' ",
 'Cow shark',
 'reef shark?',
 ' Raggedtooth shark, 2m',
 '3 m to 4 m white shark',
 'Blacktip or spinner shark?',
 'Blacktip reef shark ',
 '7-gill shark?',
 '1m shark',
 '7-gill shark',
 'Oceanic whitetip shark',
 'Reported to involve a bull shark',
 'White shark, 3m ',
 "Tiger shark, 10' to 12'",
 ' Wobbegong shark, 1.6 to 1.8m ',
 'Tiger shark, 3m ',
 'Thought to involve a white shark',
 "White shark, 10 '",
 'Reported to involve a white shark',
 'Blacktip reef shark, 1m',
 'Thought to involve a bull shark',
 'Reported to involve a 4 m white shark',
 "Whitetip reef shark, 4' to 6'",
 'Nurse shark?',
 'Small bull shark',
 'Salmon shark',
 "Mako shark, 5'",
 'Tiger shark?',
 "Bull shark, 8'",
 "Bull shark, 6' to 8'",
 "Tiger shark, 8' to 10' ",
 "Possibly a Bull shark, 3'",
 "Lemon shark, 4'",
 'Wobbegong, 2m',
 'Grey nurse shark, 3m',
 'Possibly a blacktip reef shark',
 'shark involvement not confirmed',
 'Raggedtooth shark, 1.5 m',
 'Tiger shark, 4.8 m',
 'Bronze whaler shark, 2.5m',
 '"small sharks"',
 'White shark, 4m',
 'White shark, 5m',
 "Tiger shark, 15'",
 'Bronze whaler shark, 3m',
 '2.5 m shark',
 'Bull shark, 2m ',
 "Tiger shark, 6'",
 "2' to 3' shark",
 "Tiger shark, 8'",
 "Tiger shark, 10' to 12' ",
 "White shark, 15' to 16' ",
 'Possibly a 3 m bull shark',
 "3.5' to 4' shark",
 "Porbeagle shark, 7'",
 '4.5 m shark',
 "Lemon shark, 4' to 5' ",
 'Lemon shark, 2.5m to 3m ',
 'White shark or bronze whaler',
 'Salmon shark suspected, but unlikely',
 "14' to 18'shark",
 "15' shark",
 'possibly a bull shark',
 'a small reef shark',
 'small blacktip shark?',
 'Blacktip shark ',
 'Blue shark, 2.5m',
 'White shark, 2 m',
 '18" to 24" shark',
 'Bull shark, 3m',
 "Tiger shark, 8' to 9' ",
 'White shark, 4 m to 5m ',
 'White shark, 6m ',
 "Tiger shark, 10'  ",
 'White shark, 4m ',
 'Possibly a bull shark',
 "Possibly a 5' to 6' bull shark",
 'Tawny nurse shark, 40cm',
 'Grey nurse shark',
 'White shark, 7m',
 'Blue shark, 70-kg blue shark',
 'White shark, 2.7 m',
 'Allegedly a 4 m tiger shark',
 "7' to 8' shark ",
 'White shark, 2.5m',
 "White shark, 15' to 16'",
 'Raggedtooth shark',
 "White shark, 15'",
 'Port Jackson shark, 1m',
 "10' to 12' shark",
 '2 to 2.5 m shark',
 'Tiger shark, 2m',
 "6' shark, possibly a blactip or spinner shark",
 "White shark, >6'",
 "Possibly a 5' to 6' sandtiger shark",
 '4 m shark',
 'Grey reef shark ',
 'White shark, 3m to 4m',
 'Bull shark, 3m female',
 "White shark, 5' k",
 "Oceanic whitetip shark, 7'",
 "Sevengill shark, 6' to 8'",
 'Zambesi shark',
 ' Tiger shark, 2.8m',
 "Sandbar shark, 8'",
 "Bull shark, 12'",
 'reef shark, 1.5m',
 "1' to 2' shark",
 'possibly a bronze whaler shark',
 ' Bull shark, 2.5 m',
 'Blacktip shark pup',
 'Bull shark, 2.5m',
 '3 m to 4 m shark',
 'White shark x 2',
 'Oceanic whitetip shark, 2.5m ',
 'Mako shark ',
 'Oceanic whitetip shark, 2.5m, female',
 "Porbeagle shark, 8' ",
 "White shark, 14' to 18' ",
 'Bull shark, 1.4m ',
 "Possibly a 6' lemon shark",
 'Shark involvement prior to death was not confirmed',
 'Possibly a small blacktip shark',
 "Sandtiger shark, 4' to 5'",
 'A small spinner shark',
 'Nurse shark, juvenile ',
 "Blue shark, 7'",
 '20 to 30kg shark',
 "Lemon shark, 6'",
 "14' shark",
 "Oceanic whitetip shark, 6'",
 'Possibly a blue shark',
 'Wobbegong shark, 1.6m',
 '2 m to 3 m shark',
 "Spinner shark, 6'",
 'Thought to involve a juvenile hammerhead shark',
 'Whitetip reef shark, 1m',
 'Zambesi shark, 2m ',
 'White shark, 2.8 to 3 m ',
 "Sandtiger shark, 8'",
 'Thresher shark',
 "Bull shark, 10'",
 'Spurdog',
 "White shark, 5' to 6' juvenile ",
 'White shark, 2m',
 'Tiger shark, 12',
 'Bull shark?',
 "Caribbean reef shark, 6'",
 "Nurse shark, 6'",
 'Thought to involve a Bronze whale shark, 2m',
 'Shark involvement probable, but not confirmed',
 'Oceanic whitetip shark, 2.5 to 3m',
 '80 kg shark',
 "5' to 8' shark",
 'blacktip or spinner shark',
 "White shark, 12' to 15' female",
 'Bronze whaler shark?',
 'Blacktip reef shark pup',
 'Thought to involve a cookie cutter shark',
 'Wobbegong shark, 60cm',
 'Blue shark, 1m',
 '2.6 m shark',
 'White shark, 2.5m ',
 'Bull shark, 2.7 m ',
 "White shark, 12' ",
 'White shark, 5.5 m ',
 'White sharks',
 'Dusky shark, 2m',
 'Mako shark, 3m',
 'Broadnose sevengill shark',
 'White shark, 4m to 5m ',
 '4 to 5m white shark',
 'Raggedtooth shark, 2m',
 'White shark, 4.5 to 5 m ',
 'Zambesi shark?',
 'Bronze whaler shark',
 ' reef shark, 1.8m',
 '5 m white shark',
 "+3' shark",
 "2' to 3' juvenile shark",
 "White shark, 14' to 16' ",
 "8' bull shark or Caribbean reef shark",
 "8' white shark or 7-gill shark",
 "3'  shark",
 "2'  shark",
 "2' to 3' reef shark",
 'Starry smoothhound shark, 1m',
 "Bull shark, 6' to 7'",
 'White shark, 4.5m',
 "4.5 to 5' shark",
 'Basking shark',
 'Tiger sharks in area',
 '2 small bull sharks',
 'Bull shark, 1.8m',
 "White shark, 12' to 15'",
 'Tiger shark, 2.3m ',
 "Tiger shark, 13' female",
 'Reported by media as shark attack, but shark involvement prior to death was not confirmed',
 'Shark involvement not confirmed; thought to be a barracuda bite',
 "1.5' to 2' shark",
 "2.5' shark",
 'A bull shark, according to some of the divers on the boat',
 "Goblin shark, 4.2'",
 'Blacktip shark, 2m',
 'Mako shark, 90kg',
 'Bronze whaler shark, 4m',
 "Nurse shark, 10'",
 'Possibly a hammerhead shark',
 '"a small shark"',
 'Not a shark attack; it was a hoax',
 '2.27 m shark',
 '1.5 to 2 m shark',
 "Blacktip shark, 5'",
 'Oceanic whitetip sharks were in the vicinity',
 'Gray reef shark',
 "9.5' shark?",
 "Nurse shark, 2' to 3' ",
 'Possibly a spinner shark',
 "White shark, 12'",
 'Sand shark',
 "Possibly a 6' bull shark",
 ' ',
 "Possibly a 10' bull shark",
 'Bronze whaler shark, 1.5 m ',
 "3' small spotted catshark, Scyliorhinus canicula",
 "Bull shark, 5' ",
 'Questionable Incident',
 "Lemon shark, 6' female ",
 'A 10-year-old 94-pound pregnant blacktip reef shark',
 'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length',
 'White shark, 2m ',
 "Tiger shark, 14' ",
 'Lemon shark, >1 m ',
 "Bull shark, 10' ",
 'White shark, 3m',
 '2.4 m shark',
 '24" to 30" shark',
 "6' to 8' shark, possibly a tiger shark",
 '2.5 to 3 m shark',
 '2 to 3 m shark',
 "White shark, 12' to 15' ",
 'Raggedtooth shark, 150-kg',
 'White shark, 5m ',
 'Bull shark, 1.5m ',
 "White shark, 16' ",
 "1' to 4' shark",
 "3' to 3.5' shark",
 'White shark, 3.5m ',
 'small catsharks',
 'White shark?',
 'Thought to involve a mako shark, but possibly a sea lion',
 "Bull shark, 4' to 5' ",
 'Angel shark, 1.2m ',
 'Shark involvement not confirmed, injury may have been caused by a bluefish',
 'Bull or tiger shark',
 "5' to 6' spinner or bull shark",
 '1.8 m blacktip "reef" shark',
 "Possibly a 1' to 3' blacktip or spinner shark",
 "14' white shark",
 "Tiger shark, 8' to 12'",
 "Tiger shark, 15' female",
 "Grey reef shark, 5' to 8' ",
 'Wobbegong shark, 2 m ',
 "Bull shark, 4' to bull shark",
 'Bronze whaler shark, a  juvenile ',
 'Raggedtooth shark, 2.5 m to 3 m ',
 '3 m, 600-kg shark',
 "Tiger shark, 5' ",
 'Bronze whaler shark, 2 m',
 "5' to 7' shark",
 '4.5 m white shark',
 "12' to 18' shark",
 "12' shark",
 '3.5 m white shark',
 'Said to involve a 1.5 m shark',
 'Whitetip reef shark',
 '4 m white shark',
 '3 m white shark',
 'Raggedtooth shark, 2.5m ',
 "12' to 14' white shark",
 "18' white shark",
 "Tiger shark, less than 10'",
 'Caribbean reef sharks',
 'Tiger shark, 3 m ',
 "14' to 16' white shark",
 "4 m [13'] white shark",
 "2 m [6.75'] shark, 200-kg shark T",
 'juvenile white shark',
 'Possibly a sandbar shark or small blacktip shark',
 "1.8 m [6'] shark",
 "3.5 m [11.5']shark",
 "[4.5' to 5'] shark",
 "[4' to 5']",
 "1.8 m [6'] bull shark",
 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
 'Unknown, but it was reported that a shark tooth was recovered from the wound',
 "3 m [10'] white shark",
 "Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident",
 '"small shark"',
 '18" to 36" shark',
 "Tiger shark, 3 m [10']",
 "2 m [6.75'] copper shark",
 "1.8 m [6'] blacktip shark",
 'small hammerhead shark',
 "4 m [13'] shark",
 "6 m [20'] white shark",
 "Sandtiger shark, 2.1 m [7'] ",
 "Bronze whaler shark, 4.3 m [14'] ",
 "Nurse shark, 3' ",
 "Tiger shark, 2.4 m [8']",
 "1.8 m [6'] Caribbean reef shark",
 "3 m [10'] shark",
 "Bronze whaler shark, 2 m to 3 m [6.75' to 10']  ",
 '4.5 m & 5 m white shark ',
 "5.5 m [18'] white shark",
 "2.5 m [8.25'] bull shark",
 "2 m [6.75'] white shark",
 "Bronze whaler shark, 2.4 m [8'] ",
 "1.8 m to 2.4 m [6' to 8'] white shark",
 "Tiger shark, 2.4 m to 3.7 m [8' to 12'] ",
 "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
 'Thought to involve a 2.5 m bull or tiger shark',
 "Tiger shark, 3 m [10'] ",
 "2.4 m [8'] shark",
 "0.9 m to 1.2 m [3' to 4'] white shark",
 "4.9 m to 5.5 m [16' to 18'] white shark",
 "1.2 m [4'] shark",
 "3 m to 4 m [10' to 13']  white shark",
 "1.2 m to 1.5 m [4' to 5'] shark",
 "Longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb] ",
 '2 sharks, 4.5 m & 3 m ',
 '"black tipped" shark',
 '9\'2" white shark',
 "Bronze whaler shark, 2.5 m [8.25'] ",
 "0.9 m to 1.5 m [3' to 5'] shark",
 "2.4 m to 3.7 m [8' to 12'] shark",
 "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
 "Mako shark, 1.8 m [6']",
 "Wobbegong shark, 1.2 m [4'] k",
 "White shark, 5.5 m [18']",
 'small sharks',
 "5 m [16.5'] white shark",
 "1.2 m [4'] bull shark",
 'bull shark',
 "Tiger shark, 2.4 m to 3 m [8' to 10'] ",
 "Bronze whaler shark, 1.5 m [5'] ",
 "2 m [6.75'] sevengill  shark",
 '60 cm [23.6"] blind or brown shark',
 "4 m to 5 m [13' to 16.5'] white shark",
 'Possibily a  1.5 to 2 m sandtiger shark',
 'Shark involvement doubtful',
 'Bull shark, 1.65 m [5\'5"] was speared & killed',
 'Bull shark, 132-kg [291-lb] ',
 "Mako shark, 3 m to 4 m [10' to 13'] ",
 "Raggedtooth shark, 3.5 m [11.5'] ",
 'Shortfin mako shark',
 "Wobbegong shark, 1.2 m [4'] ",
 "Tiger shark, 4 m [13']  ?",
 '2.5 oceanic whitetip shark',
 "Nurse shark, 60 cm to 90 cm [2' to 3'] ",
 "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
 '1.2 m [4\'] "grey-colored shark"',
 '2 m cow shark',
 "4.5 m to 5.5 m [15' to 18'] white shark",
 "3.5 m [11.5'] white shark",
 'Unidentified species',
 "1.5 m to 1.8 m [5' to 6'] shark",
 "2.1 m  [7'] bull shark",
 "8' great hammerhead shark",
 "106 cm [3.5']  shark",
 '\x93small brown shark\x94',
 "3.7 m to 4.3 m [12' to 14'] shark",
 '"sand shark"',
 "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark",
 "0.9 m to 1.2 m [3' to 4'] shark",
 'A \x93small\x94 shark',
 '15 cm to 20 cm [6" to 8"] bite diameter just below left knee',
 "Mako shark, 3 m [10']",
 "60 cm [2'] captive shark",
 "2.5 m [8.25'] white shark",
 'Species unidentified',
 "Thought to involve a 2 m [6.75'] grey nurse shark",
 "Thought to involve a >2 m [6.75'] bull shark",
 'Reported to involve a hammerhead shark',
 'White shark, 4 m white shark',
 'Wobbegong shark, 1m',
 'Shark involvement not confirmed, injury may be due to a stingray',
 "3 m to 4.5 m [10' to 15'] white shark",
 "2.4 m to 3 m [8' to 10'] grey colored shark",
 "1.8 m to 2.1 m [6' to 7']\xa0 Caribbean Reef Shark ",
 'Possibly a bull shark or tiger shark',
 'Blacktip or spinner shark',
 "3.5' to 4.5' shark",
 "1.2 m [4'] blacktip shark",
 "Tiger shark, 1.5 m [5']k",
 "3 m to 3.7 m [10' to 12'] shark",
 "1' to 2' hammerhead or bonnethed shark",
 "0.9 m  to 1.2 m [3' to 4'] shark",
 "Nurse shark, 1.5 m [5'] ",
 "Sandtiger shark, 3 m [10'] ",
 "1.2 m [4'] blacktip or sandbar shark",
 "Bull shark, 1.8 m to 2.1 m [6' to 7'] ",
 'Mako shark, 400-lb ',
 "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark",
 "Tiger shark, 2.4 m to 2.7 m [8' to 9']  ",
 "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
 '\xa0 ',
 "1.5 to 2.5 m [5' to 8.25'] copper shark",
 "3.7 m to 4.3 m [12' to 14'] white shark",
 '1 m  shark',
 "3' blacktip shark",
 "2.1 m to 2.4 m [7' to 8'] shark",
 "White shark, 6m [20']",
 'Bull shark, 400-lb ',
 "0.9 m [3'] shark",
 'Nurse shark, 1m ',
 "Spinner shark, 3' to 4' ",
 'Shark involvement prior to death unconfired',
 '1.5 m [5\'] "whaler shark"',
 'C. leucas tooth fragment recovered from kayak',
 'Unidentified',
 "Tiger shark, 1.8 m [6'] ",
 "Mako shark, 2 m [6.75'] ",
 "Tiger shark, 1.8 m [6']",
 'Questionable incident - shark bite may have precipitated drowning',
 "2' to 3.5' shark",
 "12' sandtiger shark",
 'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
 "1.5 m [5'] shark",
 "3 m [10'] bull shark",
 'Possibly  a blacktip or spinner shark',
 "3' shark, possibly  a blacktip or spinner shark",
 "Blacktip shark, 5' to 6' ",
 "1.9 m [6.5'] bull shark",
 "Mako shark, 14' ",
 "0.9 m  [3'] shark",
 "Bull shark, 2.3 m [7.5'] ",
 "White shark, 2.4 m to 3 m [8' to 10'] ",
 "1.2 m to 1.5 m [4.5' to 5'] shark",
 "White shark, 2.7 m to 3 m [9' to 10'] ",
 'Possibly a juvenile blacktip or spinner shark',
 "Possibly a 1.5 m [5'] blacktip or spinner shark",
 '1 m shark, possibly whitetip reef shark',
 "White shark, 2.7 m [9'] ",
 "Spinner shark, 1.2 m to 1.5 m [4' to 5'] ",
 "Tiger shark, 8' ",
 "White shark, 5 m [16.5'] ",
 "Bronze whaler shark, 2.5 m [8.25']  k",
 "2 m [6.75'] shark",
 "White shark, 4.3 m [14'] ",
 '1.8 m to 2.4 m [6\' to 8\'] "black finned shark"',
 "6 m [20'] shark",
 'White shark, 4.5 m [14\'9"] ',
 "Porbeagle shark, 3 m [10']rk",
 'Tiger shark, 4 m ',
 "1.2 m to 1.8 m [4' to 6'] shark",
 "White shark, 4.9 m [16'] ",
 "Tiger shark, 1.8 m to 2.4 m [6' to 8'] ",
 "2.1 to 2.4 m [7' to 8'] shark",
 "Blacktip shark, 2' ",
 "White shark, 4.3 m [14']",
 "White shark, 4 m to 5 m [13' to 16.5'] ",
 '100-kg [221-lb] dead blue shark',
 'White shark, 2.5 m ',
 "60 cm to 90 cm [2' to 3'] shark",
 "White shark, 3.5 m [11.5']  male ",
 'Thought to involve a Zambesi shark',
 "A 2' shark was seen in the area by witnesses",
 "Thought to involve a 2.7 m [9'], 400-lb bull shark",
 'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ',
 "Blacktip shark, 2.4 m to 3 m [8' to 10'] ",
 'Shark involvement  not confirmed',
 "Nurse shark, 1.5 m [5']",
 "1.8 m [6'] grey-colored shark",
 "Grey reef shark, 2 m [6.75'] ",
 "Lemon shark, 2.1  m to 2.4 m [7' to 8'] ",
 "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?",
 "Nurse shark, 1.2 m [4'] ",
 "0.9 m [3'] shark,  probably a blacktip or spinner shark",
 "Bull shark, 2.4 m [8']",
 "Blacktip shark, 1.2 m to 1.8 m [4' to 6'] ",
 'Tiger sharks & bull sharks (20 sharks in all)',
 "Tiger shark, 4 m [13'] ?",
 "2 m to 2.5 m [6.75'  to 8.25'] shark",
 'Shark involvement  questionable',
 "Shortfin mako shark, 3 m to 3.4 m [10' to 11'] ",
 'Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks',
 'Sevengill shark',
 'Thought to involve a white, bull or tiger shark',
 "White shark, 3 m [10'] ",
 '1.3 to 1.6 m shark',

In [25]:
sinan["sharktype"]= df.especie.apply(cl.sharks)
sinan

<ipython-input-25-482ec73ef67e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinan["sharktype"]= df.especie.apply(cl.sharks)

,case,date,year,type,country,area,activity,sex,age,injury,dead,especie,resolucion,genre,deaths,sharktype
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,no injury,f,0.0,whiteshark
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,11,Minor injury to left thigh,N,NaN,bite,f,0.0,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN,bite,m,0.0,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark,bite,m,0.0,other
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",bite,m,0.0,tigershark
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
sinan.sharktype.value_counts()

other         2290
whiteshark     635
tigershark     276
bullshark      187
hammer          48
whitetip        28
Name: sharktype, dtype: int64

In [27]:
deathstype= sinan[["resolucion", "genre", "deaths", "sharktype"]]
deathstype

      resolucion genre  deaths   sharktype
0      no injury     f     0.0  whiteshark
1           bite     f     0.0         NaN
2           bite     m     0.0         NaN
3           bite     m     0.0       other
4           bite     m     0.0  tigershark
...          ...   ...     ...         ...
8698         NaN   NaN     NaN         NaN
8699         NaN   NaN     NaN         NaN
8700         NaN   NaN     NaN         NaN
8701         NaN   NaN     NaN         NaN
25722        NaN   NaN     NaN         NaN

[8703 rows x 4 columns]

In [28]:
deathstype= deathstype.dropna(how="all", axis=0)

In [29]:
whity = deathstype[deathstype.sharktype=="whiteshark"]
whity

     resolucion genre  deaths   sharktype
0     no injury     f     0.0  whiteshark
22    no injury     m     0.0  whiteshark
24    no injury     m     0.0  whiteshark
34         bite     m     0.0  whiteshark
40         bite     f     0.0  whiteshark
...         ...   ...     ...         ...
6162       bite     m     0.0  whiteshark
6172        NaN     m     0.0  whiteshark
6244       bite     m     0.0  whiteshark
6245       bite     f     0.0  whiteshark
6274  no injury     m     0.0  whiteshark

[635 rows x 4 columns]

In [30]:
deathstype

     resolucion genre  deaths   sharktype
0     no injury     f     0.0  whiteshark
1          bite     f     0.0         NaN
2          bite     m     0.0         NaN
3          bite     m     0.0       other
4          bite     m     0.0  tigershark
...         ...   ...     ...         ...
6297      death     m     1.0         NaN
6298      death     m     1.0         NaN
6299      death     m     1.0         NaN
6300      death     m     1.0         NaN
6301      death     m     1.0         NaN

[6302 rows x 4 columns]